@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #32a2e3;
    --text-color: #020102;
    --bg-color: #fff;
}


/* Custom Scroll Bar */

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--main-color);
}

section {
    padding: 4rem 0 2rem;
}

section {
    padding: 4rem 0 2rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15, 54, 55 / 10%);
    transition: 0.5s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.navbar a:hover,
.navbar .active {
    color: var(--text-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15, 54, 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.5s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(image/background-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home span {
    color: var(--main-color);
}

.home-text {
    padding-left: 130px;
}

.home-text h1 {
    font-size: 2.4rem;
}

.home-text p {
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.home-text .btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.home-text .btn:hover {
    background: rgb(11, 61, 61);
    color: #f6f6f6;
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
}

.heading p {
    font-size: 0.938rem;
    font-weight: 300;
}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box {
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}

.cars-container .box h2:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.about {
    display: flex;
    text-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.about-image {
    flex: 1 1 21rem;
}

.about-text {
    flex: 1 1 21rem;
}

.about-text span {
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.about-text .btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.about-text .btn:hover {
    background: rgb(11, 61, 61);
    color: #f6f6f6;
}

.car-rent-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.car-rent-container .box {
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}

.car-rent-container .box img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.car-rent-container .box span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.car-rent-container .box .bx {
    color: var(--main-color);
    margin: 0.8rem 0;
}

.car-rent-container .box .btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 300;
    max-width: 120px;
}

.car-rent-container .btn:hover {
    background: rgb(11, 61, 61);
    color: #f6f6f6;
}

.car-rent-container .box span {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.car-rent-container .box .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.car-rent-container .box .details:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box {
    flex: 1 1 13rem;
    padding: 20px;
}

.blog-container .box:hover {
    background: #f6f6f6;
}

.blog-container .box span {
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog-container .box h3 {
    font-size: 1.2rem;
}

.blog-container .box p {
    font-size: 0.938rem;
    margin: 4px 0;
}

.blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
    text-decoration: none;
}

.blog-container .box .blog-btn .bx {
    font-size: 20px;
}

.blog-container .box .blog-btn:hover {
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}

.footer {
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-box a,
.footer-box p {
    color: #818181;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-box a:hover {
    color: var(--main-color);
}

.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.content {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(image/banner2.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
    position: absolute;
    top: 150px;
    left: 890px;
    border-radius: 10px;
    padding: 12px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: var(--main-color);
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 220px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid var(--main-color);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #f6f6f6;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form .btn {
    background: var(--main-color);
    color: var(--text-color);
    width: 220px;
    height: 35px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.4s ease;
    font-weight: bold;
}

.form .btn:hover {
    background: rgb(11, 61, 61);
    color: #f6f6f6;
    cursor: pointer;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #f6f6f6;
    font-family: Arial;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #f6f6f6;
}

.form a {
    text-decoration: none;
    color: aquamarine;
}

.form a:hover {
    text-decoration: underline;
    transition: 0.4s;
}

.sign-in {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #f6f6f6;
    font-size: 12px;
}

.social-media a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 5px;
}

.social-media a:hover {
    color: var(--main-color);
    transition: 0.4s;
}